# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build output
dist/
out/

# VS Code settings
.vscode/

# Environment variables
.env

# Girls Frontline images
src/char_img/
src/char_img_bg/
src/char_img_full/
src/char_nation/
src/header/
src/icon/
src/game/
src/stuff/

assets/
public/assets/
