*{
   transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
   -webkit-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
   -ms-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
   
}

body{
   width: 100%;
   height: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   position: fixed;
}
body::-webkit-scrollbar {
   display: none;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;
 }
div {
   user-select: none;
   overflow: auto;
   background-color: rgba(0,0,0,0.1);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5%;
   border-radius: 5px;
   height: 100%;
   width: 100%;
   margin: 0.5%;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
button{
   width: 30px;
   height: 30px;
   background: #00000020;
   border: none;
   -webkit-border-radius: 50%;
}
button:hover{
   background: #00000050;
}
#root{
   height: 98%;
   margin: 0;
}
#main{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   align-content: center;
   justify-content: flex-start;
}